{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import,
    {d, makecheck}]}.

{port_specs, [
    {"priv/erlgeom.so", ["c_src/*.c"]}
]}.

{port_env, [
    %{"(linux|solaris|darwin)", "CFLAGS", "$CFLAGS -g -Wall"},
    % Link the GEOS C binding
    {"(linux|solaris|darwin)", "LDFLAGS", "$LDFLAGS -lgeos_c"}
]}.
